{% extends "layout.html" %} {% block content %}

<div class="container-fluid">
    <div class="py-5 text-center">
        <h2>Velvet</h2>
        <p class="lead">はてなブログのはてブ数を予測します</p>
        <div class="form">
            <form action="/prediction" method="post">
                <div class="form-group">
                    <label>はてなブログのURL（公開前の場合は<a href="https://help.hatenablog.com/entry/editor/preview/sharing">下書きプレビュー共有URL</a>）</label>
                    <input type="text" class="form-control " id="url" name="url">
                </div>
                <button class="btn btn-primary" type="submit">送信</button>
            </form>
            <p class="lead">
                {% if url %} {{ url }} {% endif %}
            </p>
        </div>
    </div>
    <footer class="text-center text-small">
        Created By <a href="https://twitter.com/unpuy_tw">@unpuy_tw</a>
    </footer>
</div>
{% endblock %}