{% extends "layout.html" %} {% block content %}

<div class="container-fluid">
    <div class="py-5 text-center">
        <h2>Velvet</h2>
        <p class="lead">はてなブログのはてブ数を予測します</p>
        <div class="form">
            <form action="/prediction" method="post">
                <div class="form-group">
                    <label>はてなブログのURL（公開前の場合は<a href="https://help.hatenablog.com/entry/editor/preview/sharing">下書きプレビュー共有URL</a>）</label>
                    <input type="text" class="form-control " id="url" name="url"> {% if err_msg %}
                    <div class="text-danger">{{ err_msg }}</div>{% endif %}
                </div>
                <button class="btn btn-primary" type="submit">送信</button>
                <div class="py-1 text-center">
                    <p class="lead">
                        {% if is_hatebu is sameas true %} はてブ数は {{ hatebu_num }} くらいです多分 {% else %} はてブはつかないかもしれません… {% endif %}
                    </p>
                </div>
        </div>
    </div>
    <footer class="text-center text-small">
        Created By <a href="https://twitter.com/unpuy_tw">@unpuy_tw</a>
    </footer>
</div>
{% endblock %}